# Virtual environments
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# IDE
.idea/
.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db

# Env files
.env
*.log

# Database
*.db
*.sqlite3

# Node (if any)
node_modules/

